<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1 class='mt-5'>My List</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list) do %>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title text-center"><%= list.name %></h2 >
              <div class="d-flex mt-4">
                <%= link_to "Add a movie", new_list_bookmark_path(list), class: "btn btn-outline-dark btn-sm" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
      <div class="d-flex mt-5 align-items-center justify-content-center">
        <%= link_to "Create a movie list", new_list_path, class: "btn btn-outline-dark btn-lg" %>
      </div>
  </div>
</div>
