.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: 2px solid #000;
}

.card-large {
  height: 50vh;
  max-height: 400px;
}

.card-movie-photo{
  width: 300px;
  height: 500px;
}

.card-movie{
  box-shadow: 8px 8px 5px #5a5863;
}

.info-card{
  background-color: rgb(190, 190, 190);
  box-sizing: border-box;
  width: 300px;
  height: 260px;
}

.card-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
